:root {
    --bg: #164863;
    --bg2: #053B50;
    --txt: #DDF2FD;
    --txt2: #ebd173;
}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg);
    color: var(--txt);
    text-transform: capitalize;
    overflow-x: hidden;
}

/* search-menu */
.search-menu {
    position: fixed;
    height: 10vh;
    background-color: var(--bg2);

    top: -100%;
    inset-inline: 0;
    z-index: 999999;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s;
}

.search-menu .search-form {
    background-color: var(--txt2);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 50%;
    margin-inline: 1rem;
}

.search-menu .search-form input {
    background-color: var(--txt2);
    width: 100%;
    margin-inline: 1rem;
    color: var(--bg);
    font-weight: 700;
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
}

.search-menu .search-form label {
    margin-right: 1rem;
    color: var(--bg);
    cursor: pointer;
}

.search-menu.active {
    top: 0;
    border-bottom: 1px solid var(--txt2);
}

/* navbar */
nav.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;

    height: 10vh;
    padding: 1.2rem 7%;
    background-color: rgba(5, 60, 81, 0.8);
    border-bottom: 1px solid var(--txt2);
    backdrop-filter: blur(10px);

    position: fixed;
    inset-block-start: 0;
    inset-inline: 0;
}
nav.navbar .navbar-logo {
    font-size: 2rem;
    font-weight: 700;
    color: var(--txt);
}

nav.navbar .navbar-logo span {
    color: var(--txt2);
}

nav.navbar .navbar-nav a {
    color: var(--txt);
    display: inline-block;
    font-size: 1.1rem;
    margin: 0 1rem;
}

nav.navbar .navbar-nav a:hover {
    color: var(--txt2);
}

nav.navbar .navbar-nav a::after {
    content: '';
    display: block;
    border-bottom: 1px solid var(--txt2);
    transform: scaleX(0);
    transition: .2s linear;
}

nav.navbar .navbar-nav a:hover::after {
    transform: scaleX(1);
}

nav.navbar .navbar-extra a {
    color: var(--txt2);
    margin: 0 .5rem;
}

nav.navbar .navbar-extra #hamburger-menu {
    display: none;
}

/* login menu */
.login-menu {
    background-color: rgba(0, 0, 0, .5);
    opacity: 0;
    width: 100vw;
    height: 100vh;

    position: fixed;
    z-index: 999;
    pointer-events: none;
    transition: .3s;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login-menu.active {
    opacity: 1;
    pointer-events: all;
}
.login-menu .login-box {
    background-color: rgba(5, 60, 81, 0.8);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 2rem 3rem;
    transition: all .5s ease-in-out;

    display: flex;
    flex-direction: column;
    width: 80%;

    z-index: 99999;
}
.login-menu .login-box .login-text {
    border-bottom: 1px solid var(--txt2);
    padding: 1rem .2rem;
}
.login-menu .login-box .login-text h1 {
    text-transform: uppercase;
    font-size: 2rem;
    margin-bottom: 1rem;
}
.login-menu .login-box .login-text span {
    color: var(--txt2);
}
.login-menu .login-box .login-text img {
    width: calc(30% + 15rem);
}
.login-menu .login-box .login-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.login-menu .login-box .login-form input {
    width: 40%;
    height: 35px;
    border-radius: 10px;
    margin-top: 10px;
    padding-inline: 1rem;
}
.login-menu .login-box .login-form label {
    margin-top: 1rem;
    color: var(--txt2);
}
.login-menu .login-box .login-form .cta {
    text-align: right;
    margin: 2rem;
    color: var(--txt);
}
.login-menu .login-box .login-form .cta a{
    text-align: right;
    color: var(--txt2);
}
.login-menu .login-box .login-button {
   display: flex;
   justify-content: center;
   gap: 3rem;
}
.login-menu .login-box .login-button button {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--bg);
    background-color: var(--txt2);
    width: 20em;
    height: 100%;
    padding-block: .5rem;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}
.login-menu .login-box .login-button .log-in:hover {
    border: 2px solid var(--txt2);
    color: var(--txt2);
    background-color: transparent;
    transition: .2s linear;
}
.login-menu .login-box .login-button .sign-up{
    border: 2px solid var(--txt2);
    color: var(--txt2);
    background-color: transparent;
}

/* landing page */
.landing {
    height: 100vh;
    justify-content: center;
    z-index: 1;
}

.landing main.landing-content {
    display: flex;
    align-items: center;
    justify-content: center;

}

.landing main.landing-content img {
    width: 40%;
}

.landing main.landing-content .kyotogarden-text h1 {
    font-size: calc(4vmax + 1rem);
}

.landing main.landing-content .kyotogarden-text h1 span {
    color: var(--txt2);
}

.landing main.landing-content .kyotogarden-text p {
    color: var(--txt);
    font-size: 1.3rem;
}

.landing main.landing-content .kyotogarden-text a {
    display: inline-block;
    padding: .2rem 1rem;
    margin-top: 10px;

    text-transform: uppercase;
    font-weight: 700;
    color: var(--bg);
    font-size: 1.3rem;
    background-color: #ebd173;
    border: 3px solid var(--txt2);
    border-radius: 999px;

    transition: all .2s ease;
}

.landing main.landing-content .kyotogarden-text a:hover {
    color: var(--txt2);
    background-color: transparent;
}

/* section style settings */
section {
    max-width: 1200px;
    margin: auto;

    display: flex;
    z-index: 1;
}

section h2 {
    color: var(--txt2);
    font-weight: 300;
    font-size: 3rem;
    text-align: center;

    padding-top: 5rem;
}

/* card */
.series-card {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-block: 1rem;
}

.series-card .thumb {
    position: relative;
    margin-bottom: 1rem;

    display: block;
    overflow: hidden;
    width: 175px;
    height: 260px;

    border-radius: 10px;
}

.series-card .thumb img {
    /* display: inline-block; */
    width: 100%;
    height: 100%;
    object-fit: fill;
    object-position: top;
    border-radius: 10px;
    vertical-align: middle;
}

.series-card .thumb a {
    display: inline-block;
    transition: .2s ease-in-out;
}
.series-card .thumb a:hover {
    transform: scale(1.1);
}

.series-card .title {
    color: var(--txt2);
    font-weight: 700;
    font-size: 1.3rem;
}

.series-card .chapter {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    margin-top: 1rem;
}

.series-card .chapter a {
    color: var(--txt);
}

.series-card .chapter a.numb-ch {
    font-size: 80%;
    font-weight: 700;
}

.series-card .chapter a.time-added {
    text-transform: lowercase;
    font-size: 70%;
}

/* badges */
.series-card .thumb span {
    position: absolute;
    inset-block-start: 10px;
    inset-inline-end: 10px;
    border-radius: 3px;
    width: 40%;

    color: var(--txt);
    padding: .5em .4em;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 700;
    text-align: center;
}

.manga-badges {
    background-color: rgb(187, 0, 0);
}

.manhwa-badges {
    background-color: rgb(25, 0, 187);
}

/* komik section */
.komik-container {

    flex-direction: column;
    max-width: 1220px;
    padding-inline: 2%;
}

/* today */
.komik-container main.today-content {
    display: flex;
    gap: .8rem;

    overflow-x: scroll;
}

/* manhwa and manga */
.komik-container main.komik-content {
    display: flex;
    flex-wrap: wrap;
    gap: .8rem;
}

/* footer */
footer {
    background-color: var(--bg2);
    margin-top: 5rem;
    padding-block: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .footer-logo {
    width: 30rem;
    margin: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

footer .footer-logo img {
    width: 10vmax;
}

footer .footer-logo h4 {
    font-size: 2vmax;
}

footer .footer-logo h4 span {
    color: #ebd173;
}

footer .footer-logo p {
    color: var(--txt);
}

footer .footer-logo p,
footer .copyright {
    font-size: .7rem;
}

footer .social {
    display: flex;
}

footer .social a {
    color: var(--txt);

    display: inline-block;
    margin-block: 1rem;
    margin-inline: .7rem;

    transition: all .2s ease-in;
}

footer .social a:hover,
footer .copyright {
    color: var(--txt2);
}




/* media queries */

/* laptop */
@media (max-width: 1366px) {
    html {
        font-size: 90%;
    }
}

/* tablet */
@media (max-width: 768px) {
    html {
        font-size: 80%;
    }

    nav.navbar .navbar-extra #hamburger-menu {
        display: inline-block;
    }

    nav.navbar .navbar-nav {
        position: absolute;
        top: 100%;
        right: -100%;

        background-color: rgba(5, 60, 81, 0.8);
        width: 50vw;
        height: 100vh;
        text-align: center;

        transition: .3s;
    }
    nav.navbar .navbar-nav.active {
        right: 0;
    }

    nav.navbar .navbar-nav a {
        display: block;
        margin: 1.5rem;
        padding: .5rem;
        font-size: 1.5rem;
    }

    nav.navbar .navbar-nav a:hover::after {
        transform: scaleX(.3);
    }

    .login-menu .login-box .login-form input {
        width: 50%;
        height: 30px;
    }

    .landing main.landing-content img {
        width: 90%;
    }

    .landing main.landing-content {
        flex-direction: column;
    }

    .series-card a.thumb {
        width: 150px;
    }
}

/* handphone */
@media (max-width: 450px) {
    html {
        font-size: 70%;
    }

    .landing main.landing-content img {
        width: 80%;
    }

    .komik-container main.komik-content {
        justify-content: center;
    }

    .login-menu .login-box .login-form input {
        width: 100%;
        height: 25px;
        border-radius: 10px;
        margin-top: 10px;
    }

}